<ActionBar>
    <NavigationButton icon="res://cerrar" (tap)="cancelar()"></NavigationButton>
    <Label text="Detalles de la Cita"></Label>
</ActionBar>
<ScrollView>
    <FlexboxLayout class="page-principal card-config">
        <FlexboxLayout>
            <GridLayout rows="60" columns="100,*">
                <FlexboxLayout row="0" column="0" class="flexbox-detail">
                    <Label text="Código: " class="title-label"></Label>
                </FlexboxLayout>
                <FlexboxLayout row="0" column="1">
                    <TextField [(ngModel)]="cita.id" disabled="true"></TextField>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>
        <FlexboxLayout>
            <GridLayout rows="60" columns="100,*">
                <FlexboxLayout row="0" column="0" class="flexbox-detail">
                    <Label text="Paciente Id: " class="title-label"></Label>
                </FlexboxLayout>
                <FlexboxLayout row="0" column="1">
                    <TextField [(ngModel)]="cita.pacienteId" autocorrect="false" disabled="true"></TextField>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>
        <FlexboxLayout>
            <GridLayout rows="60" columns="100,*">
                <FlexboxLayout row="0" column="0" class="flexbox-detail">
                    <Label text="Médico Id: " class="title-label"></Label>
                </FlexboxLayout>
                <FlexboxLayout row="0" column="1">
                    <TextField [(ngModel)]="cita.medicoId" autocorrect="false" disabled="true"></TextField>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>
        <FlexboxLayout>
            <GridLayout rows="60" columns="100,*">
                <FlexboxLayout row="0" column="0" class="flexbox-detail">
                    <Label text="Fecha Cita: " class="title-label"></Label>
                </FlexboxLayout>
                <FlexboxLayout row="0" column="1" class="flexbox-detail m-l-10">
                    <Label text='{{ fechaCita | date:"y/MM/dd" }}' class="label-items"></Label>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>
        <FlexboxLayout>
            <GridLayout rows="60" columns="100,*">
                <FlexboxLayout row="0" column="0" class="flexbox-detail">
                    <Label text="Hora Cita: " class="title-label"></Label>
                </FlexboxLayout>
                <FlexboxLayout row="0" column="1" class="flexbox-detail m-l-10">
                    <Label [text]="horaCita" class="label-items"></Label>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>
        <FlexboxLayout>
            <GridLayout rows="60" columns="100,*">
                <FlexboxLayout row="0" column="0" class="flexbox-detail">
                    <Label text="¿Asistió?: " class="title-label"></Label>
                </FlexboxLayout>
                <FlexboxLayout row="0" column="1" class="flexbox-detail m-l-10">
                    <Label text="Si asistió" class="label-items" *ngIf="cita.isAsistio == 1"></Label>
                    <Label text="No asistió" class="label-items" *ngIf="cita.isAsistio == 0"></Label>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>

        <FlexboxLayout col="1" colSpan="2" *ngIf="cita.isAsistio == 1" class="m-t-20 flex-center-icon">
            <StackLayout class="recuadro-firma" background="yellow" height="150" width="90%">
                <Image [src]="signatureImage" height="100%" width="100%"></Image>
            </StackLayout>
        </FlexboxLayout>

    </FlexboxLayout>
</ScrollView>