<FlexboxLayout class="flex-principal">
    <!--<FlexboxLayout class="m-b-10 flex-label">
        <Label class="label-seleccion" text="Seleccione un Paciente"></Label>
    </FlexboxLayout>-->
    <FlexboxLayout class="m-b-20 m-t-20">
        <SearchBar textFieldHintColor="whitesmoke" row="0" hint="Buscar por identificación" (textChange)="onTextChanged($event)"
            (loaded)="searchBarLoaded($event)" (clear)="onClear($event)" (submit)="onSubmit($event)" *ngIf="citas.length > 0"></SearchBar>
    </FlexboxLayout>
    <FlexboxLayout class="flex-no-registros" *ngIf="citas.length == 0" width="90%" height="150">
        <Label text="No se encontraron citas pendientes" class="label-list-2 m-b-20"></Label>
        <Button text="Regresar" class="btn-primary" (tap)="cancelar()"></Button>        
    </FlexboxLayout>
    <ScrollView *ngIf="citas.length > 0">
        <StackLayout class="" height="80%" *ngIf="citas.length > 0">
            <ListView [items]="citas" class="list-group" (itemTap)="onSelectItem($event)" height="90%">
                <ng-template let-item="item">
                    <GridLayout rows="30,30" columns="auto,*">
                        <Label row="0" column="0" text="Paciente Id: " class="label-list"></Label>
                        <Label row="0" column="1" [text]="item.pacienteId" class="label-list"></Label>
                        <Label row="1" column="0" text="Fecha Cita: " class="label-list"></Label>
                        <Label row="1" column="1" [text]="fechaCita" class="label-list"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </ScrollView>
</FlexboxLayout>